﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ApplicationInfo.Name</title>
    @Html.StyleSheet("styles")
</head>
<body>
    @Html.Partial("Flashbar")
    @Html.Partial("Header")
    <div class="container">
        <div class="row" role="main">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Footer")
    @Html.Script("vendor")
    @Html.Script("site")
</body>
</html>