﻿@using MedicalJournals.Infrastructure
@{
    var flashMessages = new FlashMessage(ViewContext.Controller.TempData);
}

@foreach (var flashMessage in flashMessages
    .Where(p => !string.IsNullOrWhiteSpace(p.Key) && !string.IsNullOrWhiteSpace(p.Value))) {
    var key = flashMessage.Key.ToLowerInvariant();

    if ("error".Equals(key)) {
        key = "danger";
    }
    <div class="alert alert-@key alert-dismissable fade in flash-bar" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @{
            var icon = string.Empty;

            switch (key) {
                case "success": {
                        icon = "fa fa-check-circle";
                        break;
                    }
                case "danger": {
                        icon = "fa fa-exclamation-circle";
                        break;
                    }
                case "info": {
                        icon = "fa fa-info-circle";
                        break;
                    }
                case "warning": {
                        icon = "fa fa-bell";
                        break;
                    }
            }
        }
        @if (!string.IsNullOrWhiteSpace(icon)) {
            <i class="@icon"></i> 
        }
        <strong>@flashMessage.Key!</strong> @Html.Raw(flashMessage.Value)
    </div>
}