﻿<header class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/">@ApplicationInfo.Name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul id="navigation" class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated) {
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                } else {
                    <li>@Html.ActionLink("Register", "Signup", "User")</li>
                    <li>@Html.ActionLink("Sign in", "SignIn", "User")</li>
                }
            </ul>
        </div>
    </div>
</header>