﻿@model dynamic
@if (!Html.ViewData.ModelState.IsValid) {
    var model = Model as ValidationSummary ?? new ValidationSummary();
    var modelStates = Html.ViewData.ModelState.ToList();

    if (model.ExcludePropertyErrors) {
        modelStates = modelStates.Where(ms => string.IsNullOrWhiteSpace(ms.Key))
          .ToList();
    }

    var errorMessages = modelStates
      .SelectMany(ms =>
        ms.Value
        .Errors
          .Select(e =>
            e.Exception?.Message ?? e.ErrorMessage))
        .Where(e => !string.IsNullOrWhiteSpace(e))
        .ToList();

    if (errorMessages.Any()) {
        <div class="alert alert-danger @(model.Closable ? "alert-dismissable" : string.Empty)">
            @if (model.Closable) {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="close">&times;</button>
            }
            @if (errorMessages.Count == 1) {
                <i class="fa fa-exclamation-circle"></i>
                if (!string.IsNullOrWhiteSpace(model.Title)) {
                    <strong>@(model.Title)</strong>
                }
                <span>@errorMessages.First()</span>
            } else {
                if (!string.IsNullOrWhiteSpace(model.Title)) {
                    <h4>@(model.Title)</h4>
                }
                if (!string.IsNullOrWhiteSpace(model.Message)) {
                    <p>
                        <i class="fa fa-exclamation-circle"></i> <strong>Error!</strong> @(model.Message)
                    </p>
                }
                <ul>
                    @foreach (var message in errorMessages) {
                        <li>@message</li>
                    }
                </ul>
            }
        </div>
    }
}