﻿.data-grid {
    position: relative;

    .data-grid-header {
        padding-right: 15px;
    }

    .data-grid-body {
        height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .table {
        table-layout: fixed;
        margin-bottom: 0;

        th:nth-child(1),
        td:nth-child(1) {
            width: 36px;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 440px;
        }

        th:nth-child(4), 
        td:nth-child(4) {
            width: 180px;
        }

        thead {
            th:not(.unsortable) {
                cursor: pointer;
            }
        }

        tbody {
            tr:not(.processing) {
                cursor: pointer;
            }

            .progress {
                margin-bottom: 0;
                position: relative;
                text-align: center;
                > span {
                    left: 0;
                    position: absolute;
                    right:0;
                }
            }
        }
    }
}