﻿@model SignupCommand
@{
    ViewBag.Title = "Register";
}

<div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">@ViewBag.Title</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm()) {
                @Html.Partial("ValidationSummary")
                @Html.EditorFor(m => m.Email, new { autofocus = "autofocus" })
                @Html.EditorFor(m => m.Password)
                @Html.EditorFor(m => m.ConfirmPassword)
                @Html.EditorFor(m => m.IsPublisher)
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@ViewBag.Title</button>
                    or @Html.ActionLink("sign-in?", "SignIn")
                </div>
            }
        </div>
    </div>
</div>

