﻿@{
    ViewBag.Title = "Sign In";
}

<div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">@ViewBag.Title</h4>
        </div>
        <div class="panel-body">
            <form id="sign-in-form" action="@Url.Content("~/token")" method="post">
                <div class="form-group ">
                    <label class="control-label" for="Email">Email <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input id="Email" name="UserName" type="email" class="form-control" autofocus required>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label" for="Password">Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input id="Password" name="Password" class="form-control" type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="grant_type" value="password" />
                    <button type="submit" class="btn btn-primary">@ViewBag.Title</button>
                    or @Html.ActionLink("register?", "Signup")
                </div>
            </form>
        </div>
    </div>
</div>