﻿@{
    var errorCssClass = string.Empty;
    var fullHtmlFieldName = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
    ModelState modelState;

    if (ViewData.ModelState.TryGetValue(fullHtmlFieldName, out modelState) &&
      modelState.Errors.Any())
    {
        errorCssClass = "has-error";
    }
}
<div class="form-group @errorCssClass">
    <label class="control-label" for="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)">
        @ViewData.ModelMetadata.GetDisplayName()
        @if (ViewData.ModelMetadata.IsRequired) {
            <span class="text-danger">*</span>
        }
    </label>
    @RenderBody()
</div>