﻿@model bool?
@{ Layout = null; }
@{
    var fullHtmlFieldName = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
    var isChecked = Model.HasValue && Model.Value ? "checked=\"checked\"" : string.Empty;
    var validationAttributes = string.Join(" ", Html.GetUnobtrusiveValidationAttributes(string.Empty)
                                   .Select(pair => pair.Key + "=\"" + Html.AttributeEncode(pair.Value) + "\"")
                                   .ToArray());
}

<div class="checkbox">
    <label>
        <input id="@HtmlHelper.GenerateIdFromName(fullHtmlFieldName)" name="@fullHtmlFieldName" type="checkbox" value="true" @Html.Raw(isChecked) @Html.Raw(validationAttributes) />
        @ViewData.ModelMetadata.GetDisplayName()
    </label>
    <input name="@fullHtmlFieldName" type="hidden" value="false" />
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</div>
