﻿@model string
@{ Layout = "_Editor.cshtml"; }

<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    @Html.PasswordFor(m => m, this.InputAttributes())
</div>
@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })