﻿@model string
@{ Layout = "_Editor.cshtml"; }

<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
    @Html.TextBoxFor(m => m, this.InputAttributes(new { type = "email" }))
</div>
@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })