﻿@{
    Layout = null;
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ApplicationInfo.Name</title>
    @Html.StyleSheet("styles")
</head>
<body data-ng-app="medical-journals" data-ng-controller="MainController as main" data-ng-cloak>
    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">@ApplicationInfo.Name</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:;" data-ng-click="main.signout($event)">Sign out</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" role="main">
                <form name="form" data-ng-submit="main.upload(form, $event)" data-ng-if="main.canUpload()">
                    <div class="form-group">
                        <div data-mj-file-uploader="main.newJournal" data-name="file" data-label="Select pdf" data-extension="pdf" data-required="true">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </form>
                <div class="data-grid">
                    <div class="data-grid-header">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th data-ng-click="main.sort('interested')">#</th>
                                    <th data-ng-click="main.sort('name')">
                                        <span>Name</span>
                                        <i class="fa fa-sort-desc" data-ng-if="main.isSortedBy('name') && main.isSortOrderDescending()"></i>
                                        <i class="fa fa-sort-asc" data-ng-if="main.isSortedBy('name') && main.isSortOrderAscending()"></i>
                                    </th>
                                    <th class="hidden-sm hidden-xs" data-ng-click="main.sort('publisher')">
                                        <span>Publisher</span>
                                        <i class="fa fa-sort-desc" data-ng-if="main.isSortedBy('publisher') && main.isSortOrderDescending()"></i>
                                        <i class="fa fa-sort-asc" data-ng-if="main.isSortedBy('publisher') && main.isSortOrderAscending()"></i>
                                    </th>
                                    <th class="hidden-xs" data-ng-click="main.sort('timestamp')">
                                        <span>Timestamp</span>
                                        <i class="fa fa-sort-desc" data-ng-if="main.isSortedBy('timestamp') && main.isSortOrderDescending()"></i>
                                        <i class="fa fa-sort-asc" data-ng-if="main.isSortedBy('timestamp') && main.isSortOrderAscending()"></i>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="data-grid-body" data-mj-auto-scroll="main.load()" data-distance="40">
                        <table class="table table-hover" data-ng-if="main.getTotal() > 0">
                            <tbody>
                                <tr data-ng-class="{'processing' : !journal.timestamp }" data-ng-repeat="journal in main.getJournals()" data-ng-click="main.toggleInterest(journal)">
                                    <td>
                                        <div data-ng-if="journal.timestamp">
                                            <i class="fa fa-heart-o" data-ng-if="!journal.interested"></i>
                                            <i class="fa fa-heart" data-ng-if="journal.interested"></i>
                                        </div>
                                    </td>
                                    <td>{{ journal.name }}</td>
                                    <td class="hidden-sm hidden-xs">{{ journal.publisher }}</td>
                                    <td class="hidden-xs">
                                        <div class="progress" data-ng-if="journal.job">
                                            <span>Processing {{ journal.job.progress }}%</span>
                                            <div class="progress-bar progress-bar-info progress-bar-striped" style="width:{{ journal.job.progress }}%"></div>
                                        </div>
                                        <span data-ng-if="!journal.job">{{ main.formatTimestamp(journal) }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" data-ng-if="main.getTotal() === 0">
                            <tbody>
                                <tr class="processing">
                                    <td class="bg-warning">No journal exists.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div data-mj-ajax-progress></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Footer")
    @Html.Script("vendor")
    @Html.Script("app")
    <script>
        (function (ng) {
            ng.module('medical-journals')
                .constant('IsPublisher', @(Html.Raw((bool)ViewBag.IsPublisher).ToString().ToLowerInvariant()));
        })(angular);
    </script>
</body>
</html>